.git
.gitignore
.dockerignore
node_modules
/public/build
/public/hot
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
vendor
.env
.env.*
!.env.example
docker-compose.override.yml
*.log
npm-debug.log
yarn-error.log
README.md
.idea
.vscode
.fleet
.claude/
tests
